body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

p>a {
  padding: 25px 2px;
}

.col-md-4 dt {
  padding-top: 1em;
}
.col-md-4 dd {
  margin-left: 2em;
}
